@page
@using System.Diagnostics
@model Razor1.Pages.ProcessModel
@{
    ViewData["Title"] = "Process";
   
}

<h1>@ViewData["Title"]</h1>

<div>
    <ul>
        @foreach(Process proc in Model.Processes!){
            <li>@proc.ProcessName</li>
        }
    </ul>
</div>